In [2]:
import numpy as np
import pandas as pd

In [3]:
#Dataset 2
#Posted by Me (Chris S)
#Topic Pizza pie pricing and data

pizzad = pd.read_csv('pizza_data.csv')

In [4]:
#This displays the infomation behind the dataset (Colums,  rows, enteries)
pizzad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371 entries, 0 to 370
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     371 non-null    object
 1   Pizza Name  371 non-null    object
 2   Type        371 non-null    object
 3   Size        371 non-null    object
 4   Price       371 non-null    object
dtypes: object(5)
memory usage: 14.6+ KB

In [5]:
#This displays the first 5 enteries in the dataset getting a snapshot of what the dataset looks like
pizzad.head()

          Company          Pizza Name           Type          Size  Price
0  Domino's Pizza         Hand Tossed  Cheeses Pizza   Small (10")  $5.99
1  Domino's Pizza         Hand Tossed  Cheeses Pizza  Medium (12")  $7.99
2  Domino's Pizza         Hand Tossed  Cheeses Pizza   Large (14")  $9.99
3  Domino's Pizza        Handmade Pan  Cheeses Pizza  Medium (12")  $7.99
4  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza   Small (10")  $5.99

In [6]:
#This displays if and how many enteries are null
pizzad.isnull().sum()
#The output displays that there are no null enteries

Company       0
Pizza Name    0
Type          0
Size          0
Price         0
dtype: int64

In [7]:
#This displays the count of how many enteries have what pricing
pizzad.Price.value_counts()

$15.49    50
$12.49    35
$15.99    30
$11.99    17
$13.99    16
$14.99    15
$17.99    15
$5.99     14
$19.99    13
$23.99    13
$22.24    12
$27.99    12
$26.23    11
$4.79      9
$16.49     9
$17.49     8
$13.49     7
$26.49     5
$22.49     5
$9.99      5
$21.99     5
$25.99     4
$29.99     4
$23.85     4
$16.20     4
$16.99     4
$12.70     4
$10.49     4
$8.49      3
$19.95     3
$7.99      3
$4.99      2
$5.29      2
$18.49     2
$22.30     1
$9.30      1
$4.29      1
$28.99     1
$10.99     1
$12.69     1
$18.99     1
$18.69     1
$24.99     1
$19.20     1
$11.80     1
$15.34     1
$14.95     1
$18.74     1
$12.99     1
$17.35     1
$14.45     1
$11.60     1
$18.65     1
$15.24     1
$8.99      1
$20.99     1
Name: Price, dtype: int64

In [8]:
#While this displays what company has the most data in the set and most different types of pizza
commonpizza = pizzad['Company'].mode()
print("Company with most different kinds of pizza is: ",commonpizza[0])

Company with most different kinds of pizza is:  Godfather's Pizza

In [9]:
#There are 4 unique values for Company
pizzad['Company'].nunique()

4

In [10]:
#Now Lets sort the dataset by size so it goes from largest pizza to smallest pizza
pizza_size_sorted = pizzad.sort_values('Size')
pizza_size_sorted

,Company,Pizza Name,Type,Size,Price
319,Godfather's Pizza,Super Veggie Pizza (Original or Thin Crust),Specialty Pizzas,Jumbo,$28.99
261,Godfather's Pizza,Veggie Pie Pizza (Original or Thin Crust),Specialty Pizzas,Jumbo,$27.99
275,Godfather's Pizza,Hawaiian Pizza (Original or Thin Crust),Specialty Pizzas,Jumbo,$27.99
240,Godfather's Pizza,Taco Pie Pizza (Original or Thin Crust),Specialty Pizzas,Jumbo,$27.99
282,Godfather's Pizza,BLT Pizza (Original or Thin Crust),Specialty Pizzas,Jumbo,$27.99
...,...,...,...,...,...
38,Domino's Pizza,Cali Chicken Bacon Ranch™ (Brooklyn Style),Specialty Pizzas,"X-Large (16"")",$17.99
33,Domino's Pizza,Pacific Veggie (Brooklyn Style),Specialty Pizzas,"X-Large (16"")",$17.99
23,Domino's Pizza,Honolulu Hawaiian (Brooklyn Style),Specialty Pizzas,"X-Large (16"")",$17.99
53,Domino's Pizza,Memphis BBQ Chicken (Brooklyn Style),Specialty Pizzas,"X-Large (16"")",$17.99
86,Domino's Pizza,Ultimate Pepperoni Feast™ (Brooklyn Style),Feast Pizzas,"X-Large (16"")",$17.99

In [11]:
#Finally lets tidy up the data by dropping the label column which isn't needed for data analyzing
tidied_pizzad = pizza_size_sorted.drop(['Pizza Name'], 1)
tidied_pizzad

               Company              Type           Size   Price
319  Godfather's Pizza  Specialty Pizzas          Jumbo  $28.99
261  Godfather's Pizza  Specialty Pizzas          Jumbo  $27.99
275  Godfather's Pizza  Specialty Pizzas          Jumbo  $27.99
240  Godfather's Pizza  Specialty Pizzas          Jumbo  $27.99
282  Godfather's Pizza  Specialty Pizzas          Jumbo  $27.99
..                 ...               ...            ...     ...
38      Domino's Pizza  Specialty Pizzas  X-Large (16")  $17.99
33      Domino's Pizza  Specialty Pizzas  X-Large (16")  $17.99
23      Domino's Pizza  Specialty Pizzas  X-Large (16")  $17.99
53      Domino's Pizza  Specialty Pizzas  X-Large (16")  $17.99
86      Domino's Pizza      Feast Pizzas  X-Large (16")  $17.99

[371 rows x 4 columns]

In [ ]:
#Analysis

#This dataset was less messy then the others in my opinion. 
#The dataset compared 4 companies, many different types of pizza, and then there size and price.
#The main point of the dataset is compare pricing and with that say I decided company, type, and size were  the main attruibes that affect price.
#I started by sorting by size of pizza going from largest to smallest, and then eliminated the pizza name because it was a usless stat when comparing size and price to company. 
#Overall, the end result above is more tidied up.